<div class="container">
    <div class="container-title">
        <h1>Customer Form</h1>
    </div>
    <hr/>
    <div class="customer-form-container">
    <span>Customer Form</span>

    <input type="text" [(ngModel)]="firstname" />
    <button name="submit" (click)="submitCustomerDetails()" class="btn btn-primary">Submit</button>

    <div [ngStyle]="{backgroundColor:getColor()}" *ngIf="showData">
        <hr/>
        <h5>Customer Details are Submitted:</h5>
        <span>Firstname :</span>
        <span [innerText]="submittedFirstName"></span>
    </div>
</div>
</div>



<div *ngIf="!showData" class="right-image">
    <img src="../../assets/images/customer-service.jpg" class="right-banner"/>
</div>
<div *ngIf="showData" class="right-image">
    <img src="../../assets/images/congrats.jpg" class="right-banner"/>  
</div>