/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.bg-secondary-color{
    background-color:#ccf381;
}
/* Light Theme */
.light-theme.bg-primary-color{
        background-color: #6a05ec;
}
.light-theme .text-primary-color{
    color:#ccf381;
}

/* Dark theme */
.dark-theme.bg-primary-color{
    background-color: #0f162c;
}
.dark-theme .text-primary-color{
    color:white;
}